*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app{
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 50px;
  background-color: brown;
}


.container{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 300px;
  background-color: rgba(0, 0, 0, .1);
  padding: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
}

h1{
  margin: 5px 0;
}
ul li{
  color: white;
}